pipeline/ASAL400-Lab 5 - KeyvaultSecrets.json
{
	"name": "ASAL400-Lab 5 - KeyvaultSecrets",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://asakeyvaultimre.vault.azure.net/secrets/PipelineSecret/8ddb31ec9afb415c9b44cc27bc56f4a7?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SecretValue",
					"value": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SecretValue": {
				"type": "string",
				"defaultValue": "@activity('Web1').output.value"
			}
		},
		"variables": {
			"SecretValue": {
				"type": "String",
				"defaultValue": "@activity('Web1').output.value"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-03T14:00:26Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}